<html>
  <head>
    <title>Email Sending Script</title>
  </head>
  <body>
    <form action="save.cgi" method="post">
       <h1>Email Sending Script @ ESP</h1>
       <h2>Template</h2>
       <textarea rows="30" cols="80" name="template" id="template">$template</textarea>
       <h2>Spreadsheet (Tab separated)</h2>
       <textarea rows="30" cols="80" name="spreadsheet" id="spreadsheet">$spreadsheet</textarea>
       <h2>Constants</h2>
       <textarea rows="30" cols="80" name="constants" id="constants">$constants</textarea>
       <input type="submit">Proceed</input>
    </form>
  </body>
</html>
