<html>
  <head>
    <title>ESP Email Script</title>
  </head>
  <body>
    <h1>Review the email!</h1>
    <p>Below is a preview of all the emails that will be sent when you press the SEND button at the BOTTOM of this page.</p>
    <hr />
    <pre style="white-space: pre-wrap;">
      $output
    </pre>
    <hr />
    <form>
      EDITOR:<input type="text" name="editor_email"></input>
      <button>Send proof</button>
      <br />
      <a href="#">Back to edit!</a>
    </form>
    <hr />
    $proof
  </body>
</html>
